---
title: 404 Not Found
permalink: 404.html
sitemap: false
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="no-anchor">Mohon maaf ada kesalahan: 404 Not Found</h1>
        <p>Kami tidak dapat menemukan yang Anda minta. Apakah Anda ingin mengunjungi beranda kami sebagai gantinya?</p>
        <p><a class="btn btn-outline-inverse btn-lg" href="/" role="button">Menuju Beranda Depan</a></p>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
